{{ form_start(form) }}
	<div class="container">
		{{ form_widget(form, {'attr': {'class': 'text-uppercase'}}) }}
		<button class="btn btn-outline-light text-uppercase mt-2">{{ button_label|default('Enregistrer') }}</button>
	</div>
{{ form_end(form) }}