{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
	<h1 class="text-uppercase">Créer un Produit</h1>

	<a class="btn btn-outline-light text-uppercase" href="{{ path('app_backoffice_product_read') }}">Retour à la liste</a>

	{{ include('backoffice/product/_form.html.twig') }}

{% endblock %}
