{% extends 'base.html.twig' %}

{% block title %}Accès refusé
{% endblock %}

{% block body %}

	<div class="home-header container-fluid mt-3 border-0">
		<div class="row">
			<div class="col-12 p-0">
				<div id="header-text" class="text-center">

					<h1>Accès refusé</h1>

					<p>Vous n'avez pas les droits pour accéder à cette page.</p>
					<img height="100" src="{{ asset('images/breakfast-logo-light.png') }}">

					<p>Code l'erreur :
						{{ status_code }}</p>
					<p>Message de l'erreur :
						{{ status_text }}</p>

					<a href="{{ path('app_backoffice_login')}}">Veuillez vous connectez à votre compte.</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
