{% extends 'base.html.twig' %}

{% block title %}Break'Fast{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<!-- main -->
<div class="my-5 py-5 text-center">
    <img src="images/breakfast-logo-light.png" height="100" alt="Logo O'flix" class="mb-3">
    <h1 class="display-6 fw-bold">Pour un p'tit dej sur commande.</h1>
    <h2 class="display-6 fw-bold" id="redirect"><a href="http://localhost:8080/">Retour sur le site</a></h2>
</div>
{% endblock %}
